@import "../../App.scss";

.category-items {
  row-gap: 20px;
  background-color: #b0b0ae;
  .category-item {
    &-img {
      border-radius: 10px;
      overflow: hidden;
      height: 240px;
      @media screen and (max-width: 1200px) {
        height: auto;
      }
    }

    &-name {
      padding: 12px 0;
    }
  }

  .category-item {
    &1{
      position:relative;
    }
    &-img1 {
      overflow: hidden;
      height: 240px;
      @media screen and (max-width: 1200px) {
        height: auto;
      }
    }

    &-name1 {
      
      position: absolute;
      top: 8px;
      left: 8px;
      border-radius: 8px;
      padding-right: 8px;
      padding-left: 8px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }
}
